* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
    background-color: #FFFFFF;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.sub-main {
    color: #000;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 20px;
font-style: normal;
line-height: normal;
}

h1 {
    color: #084616;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.image-style {
width: 292px;
height: 237px;
flex-shrink: 0;
}

.main {
color: #084616;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.container {
    padding: 100px;
    max-width: 700px;
    text-align: center;
}

    .styled-input {
        width: 300px;
        padding: 10px;
        font-size: 16px;
        border: none;
        outline: none;
        border-radius: 20px;
        background: #D3E4D5;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       
  }
  
  .styled-button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #084616;
    color: white;
    padding: 10px 100px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.otp {
    color: #000;
}